<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="projTarlacDPWH.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <projTarlacDPWH.My.MySettings>
            <setting name="w_mode" serializeAs="String">
                <value>STATIC</value>
            </setting>
            <setting name="portname" serializeAs="String">
                <value />
            </setting>
            <setting name="baudrate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="databits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="stopbits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="readtimeout" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="permittedweightperaxle" serializeAs="String">
                <value>13500</value>
            </setting>
            <setting name="serialnumber" serializeAs="String">
                <value>unknown</value>
            </setting>
            <setting name="calibrationnumber" serializeAs="String">
                <value>unknown</value>
            </setting>
        </projTarlacDPWH.My.MySettings>
    </userSettings>
</configuration>
